// base.html
$base_category_padding: 4px;
$base_category_margin: 4px;
$base_category_width: 120px;

$base_main_category_width: 120px;
$base_main_category_background: #0ff;

$base_sub_category_width: 100px;
$base_sub_category_background: #0f0;